<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jugo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css">
  <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
  <div class="container">
    <div class="col m10 offset-m1">
      <div class="row">
        <div class="col s12" id="top">
          <h1 class="jugo">jugo</h1>
          <p>"Historias <span class="jugo">jugosas</span>" being discussed in the...</p>
          <a class="waves-effect waves-light btn hour-btn active" id="hour-1">last hour</a>
          <a class="waves-effect waves-light btn hour-btn" id="hour-4">last 4 hours</a>
          <a class="waves-effect waves-light btn hour-btn" id="hour-24">last day</a>
        </div>
      </div>
      <div class="row" id="cards"></div>
      <div class="row">
        <div class="footer-div"><a href="http://bsouth.ga">Ben Southgate</a> | 2015 | <a href="/about">about</a></div>
      </div>
    </div>
  </div>
  <script src="static/lib/jquery-1.11.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
  <script src="static/lib/d3.v3.min.js"></script>
  <script src="static/js/main.js"></script>
</body>
</html>